<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Chat Application">
    <meta name="author" content="MD. Shifat Hasan">
    <title>Toretokka</title>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' >
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'>
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>

<body>
    <h1 style="text-align:center">T O R E T O K K A</h1>

    <form action="/chat">
        <div>
            <label>Enter your username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Enter your room-ID:</label>
            <input type="text" name="room">
        </div>
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit<i class="material-icons right">send</i>
            </button>
        </div>
    </form>

</body>

</html>